body{
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    background-color: rgb(155, 248, 219);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: #ffffff;
    background:rgba(0, 0, 0, 0.3)
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-size: 5rem;
}

@media(max-width:768px){
    #bar1, #bar2{
        display: none;
    }

    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{
        display: block;
    }
}

@media(max-width:480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}